.mainContainer {
  color:black;
  font-weight: bolder;
  border: 3px solid blue;
  width: auto;
  padding: 0.5em;
  border-radius: 35px;
  background-color: #92a8d1;
  opacity: 90%;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.Titulo {
  color: #f7786b;
}

.notFound {
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 300px;
}