.mainContainer {
  color:black;
  font-weight: bolder;
  border: 3px solid #034f84;
  background-color:#f7cac9;
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 0.5em;
  border-radius: 35px;
  align-items: center;
}

.myCountry {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #034f84;
  font-size: 20px;
}

.pRed{
  color:rgb(162, 75, 75);
  background-color: white;
  border: 3px solid #034f84;
  border-radius: 35px;
  font-size: 15px;
  padding: 15px;
}
.pWhite{
  color:white;
  background-color: rgb(162, 75, 75);
  border: 3px solid #034f84;
  border-radius: 35px;
  font-size: 15px;
  padding: 15px;
}

.myButton {
  background-color: rgb(230, 220, 173);
  width: 8em;
  height: 3em;
  border-radius: 75px;
  font-weight: bold;
  font-size: 20px;
  margin:10px;
  border: 5px solid black;
  transition:0.5s;
}
.myButton:hover{
  background-color:#b47303;
  color: white;
  cursor: pointer;
};
