.mainContainer {
  border: 3px solid rgb(36, 121, 187);
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95vw;              /*100% de mi viewport me genera scroll. Esto lei que no funciona con IE8 o menor*/
  height: 50px;
  background-color: silver;
  font-weight: bold;
  font-size: 22px;
  opacity: 80%;
}

.mainContainer_black {
  border: 3px solid rgb(36, 121, 187);
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95vw;              /*100% de mi viewport me genera scroll. Esto lei que no funciona con IE8 o menor*/
  height: 50px;
  background-color: black;
  font-weight: bold;
  font-size: 22px;
  opacity: 80%;
}

.aSelector {
  border: 3px solid rgb(36, 121, 187);
  border-radius: 35px;
  color: rgb(2, 27, 46);
  font-weight: bolder;
  text-align-last:center;
  width: 25%;
}

.selectorsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: blueviolet; */
  width: 40%;
}

.searchBarContainer {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}